body {
    background: #0f172a;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 350px;
    margin: 120px auto;
    padding: 25px;
    background: #1e293b;
    color: white;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 95%;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}
.options label {
    display: block;
    margin: 6px 0;
    cursor: pointer;
}

.question-card {
    margin-bottom: 20px;
}

.submit-btn {
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 16px;
}