<!DOCTYPE html>
<html>
<head>
    <title>Add Questions</title>
</head>
<body style="background:#111;color:white;font-family:Arial">

<h2>Add Question</h2>

<form method="POST">
    <input type="text" name="question" placeholder="Question" required><br><br>
    <input type="text" name="opt_a" placeholder="Option A" required><br><br>
    <input type="text" name="opt_b" placeholder="Option B" required><br><br>
    <input type="text" name="opt_c" placeholder="Option C" required><br><br>
    <input type="text" name="opt_d" placeholder="Option D" required><br><br>
    <input type="text" name="correct" placeholder="Correct Option (A/B/C/D)" required><br><br>
    <button type="submit">Add Question</button>
</form>

</body>
</html>
